body {
  background-color: white;
  animation: colorxd 0.5s linear infinite;
}

@keyframes colorxd {
  10% {
    background-color: blue;
  }
  30% {
    background-color: red;
  }
  
  60% {
    background-color: green;
  }
  
  80% {
    background-color: yellow;
  }
  
  100% {
    background-color: aquamarine;
  }
}
